<template>
  <canvas ref="canvas" width="1280px" height="600px"
    >Этот браузер не поддерживает запуск данного приложения...</canvas
  >
</template>

<script>
import Canvas from "@/editor/Canvas";

export default {
  name: "AppCanvas",
  mounted() {
    let instance = new Canvas(this.$refs.canvas);
  },
};
</script>
