<template>
  <AppCanvas />
</template>

<script lang="ts">
import AppCanvas from "@/components/AppCanvas.vue";

export default {
  name: "App",
  components: {
    AppCanvas,
  },
};
</script>

<style lang="scss">
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #212121;
}
</style>
